* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at top, #081a3a, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 92%;
  max-width: 380px;
  background: linear-gradient(180deg, #0d1f3f, #050b18);
  padding: 28px 20px 32px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 40px rgba(0, 120, 255, 0.25);
}

/* LOGO */
.logo-ring {
  width: 130px;
  height: 130px;
  margin: 0 auto 16px;
  border-radius: 50%;
  border: 4px solid #3b82f6;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 0 20px #3b82f6,
    0 0 40px rgba(59,130,246,0.6);
  animation: glow 2.4s infinite alternate;
}

.logo-ring span {
  font-weight: 700;
  letter-spacing: 2px;
}

@keyframes glow {
  from {
    box-shadow:
      0 0 18px #3b82f6,
      0 0 30px rgba(59,130,246,0.4);
  }
  to {
    box-shadow:
      0 0 30px #3b82f6,
      0 0 55px rgba(59,130,246,0.8);
  }
}

h2 {
  margin: 12px 0 24px;
  font-weight: 400;
}

/* INPUT */
input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #1f2d4a;
  background: #000;
  color: #fff;
  outline: none;
  margin-bottom: 6px;
}

input:focus {
  border-color: #3b82f6;
}

/* BUTTON */
button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  background: #3b82f6;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background: #555;
  cursor: not-allowed;
}

/* ERROR */
.error {
  color: #ff4d4d;
  font-size: 13px;
  min-height: 16px;
}

/* OTP */
.hidden {
  display: none;
}

.resend-box {
  margin-top: 12px;
  font-size: 14px;
}

.resend-box button {
  background: transparent;
  color: #3b82f6;
  margin-top: 6px;
}/* ===== Bottom Legal Section ===== */

.legal-bottom {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 13px;
    opacity: 0.85;
}

.legal-link {
    text-decoration: none;
    color: #9fb4ff;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.3s;
}

.legal-link:hover {
    color: #ffffff;
    transform: scale(1.05);
}

.legal-icon {
    font-size: 14px;
}
